<div *ngIf="itemData" class="items">
  <h2>Item Edit</h2>
  <div>
    <label>Item Name</label>
      <input [(ngModel)]="itemData.name" placeholder="Item name"/>
    <br> 
    <label>Description</label>
      <input [(ngModel)]="itemData.description" placeholder="Description"/>
    <br>
    <label>First Bid</label>
      <input [(ngModel)]="itemData.firstBid" placeholder="first Bid"/>
    <br>
    <label>Buy Price</label>
      <input [(ngModel)]="itemData.buyPrice" placeholder="Buy Price"/>
   <br>
   
    <label>Start</label>
      <input [(ngModel)]="itemData.started" placeholder="started"/>
   <br>
     <label>End</label>
      <input [(ngModel)]="itemData.ends" placeholder="end"/>
    <br>
   <label>Location</label>
      <input [(ngModel)]="itemData.location" placeholder="Location"/>
    <br>
 
    <label>Country</label>
      <input [(ngModel)]="itemData.country" placeholder="Country"/>
    <br>
    <label>Latitude</label>
      <input [(ngModel)]="itemData.lat" placeholder="Lat"/>
    <br>
    <label>Longitude</label>
      <input [(ngModel)]="itemData.lon" placeholder="Lon"/>
    <br>
    <label>Seller Id</label>
      <input [(ngModel)]="itemData.idUser" placeholder="ID"/>
      
   
    
  </div>
  <button (click)="updateItem()">Save</button>
</div>
